

#ferrari_logo {
    display: flex;
    padding: 10px;
    justify-content: center;
    animation: loadingscreen 4000ms ease-in-out;
    animation-fill-mode: forwards;
    position: absolute;
    top: 40%;
    right: 48%;
    color: white;
}

@keyframes loadingpage {
    0% {
        opacity: 0;
        background-color: black;
    }
    50% {
        opacity: 1;
        background-color: black;
    }
    100% {
        opacity: 1;
        background-color: white;
    }
}

#main_ferrari {
    background-color:white;
    animation: loadingpage 4000ms ease-in-out;
    width: 100%;
    margin: auto;
}

@keyframes loadingscreen {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#bloc_intro {
    display: flex;
    width: auto;
}

#image_presentation_ferrari {
    width: 100%;
    animation: loadingImg 5000ms ease-in-out;
}

@keyframes loadingImg {
    0% {
        background-color: black;
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#phrase_intro {
    position: absolute;
    display: flex;
    color: white;
    top: 90%;
    left: 18%;
    font-size: 1.5em;
    animation: loadingImg 5000ms ease-in-out;
    font-weight: 600;
}

nav {
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: black;
    font-size: 1.2em ;
    font-weight: 100;
    padding-top: 10px;
    animation: loadingImg 5000ms ease-in-out;
}

.ancre_nav {
    text-decoration: none;
    color: white;
}

#modèles {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 600;
}

#carte_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50%;
}
.sujets_principaux {
    font-weight: 100;
    font-size: 2em;
    position: absolute;
    color: white;
    opacity: 0;
    z-index: 2;
}
.img_carte {
    width: 100%;
    transition: 0.5s;
    background-size: cover;
    position: relative;
    display: inline-block;
    background-position: 50% 100%;
    z-index: 1;
}
#carte_1:hover .sujets_principaux {
    opacity: 1;
    cursor: pointer;
}
#carte_1:hover .img_carte {
    filter: brightness(20%);
    transition: 2s;
    cursor: pointer;
}

#bloc_main {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 40px 0px 40px;
    align-items: flex-end;
}



