#header {
    display: flex;
    justify-content: center;
    background-color: black;
}

#title_header {
    color: white;
    animation: 10s slidein;
}

#title_header:hover {
    background: linear-gradient(to right, #FFF200 , #EF1A2D); 
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes slidein {
    from { transform: scaleX(0); }
    to { transform: scaleX(1); }
    0% {
        color: black;
    }
    30% {
        color: black;
    }
    100% {
        color: white;
    }
}