.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  position: absolute;
  top: 15%;
  right: 70%;
  cursor: pointer;
}

#form {
  position: absolute;
  bottom: 20%;
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#App-image-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
}

#nav_ferrari {
  position: absolute;
  text-decoration: none;
  color: white;
  bottom: 35%;
  left: 20%;
  font-weight: 600;
}
